html, body {
font-family: Roboto;
font-family: 'Roboto', sans-serif;
font-size: 18px;
line-height: 26px;
color: #4a4d48;
-webkit-font-smoothing: antialiased;
font-weight: 300;
}
/*@media screen and (max-width: 1024px) {
html, body {
  font-size: 12px; } 
}
@media screen and (max-width: 768px) {
html, body {
  font-size: 11px; 
} 
}*/
a{
  cursor: pointer;
}
.col-center{
  margin: 0 auto;
  display: block;
  float: none;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.steps{
  width: 100%;
  margin: 40px 0;
  display: table;
  padding: 0;
}
.steps li{
  text-align: center;
  display: inline-block;
  list-style: none;
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  font-size: 1.2em;
}
.steps li span{
  padding: 20px;
  font-size: 2.2em;
}
.btn {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 17px;
  border-radius: 4px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-default ,
.btn-default:focus,
.btn-default:active,
.btn-xs, .btn-xs:focus, .btn-xs:active{
  background-color: #faba06;
  color: #fff;
  border: none;
}
.brand-btn {
  padding:  5px 15px;
}
.btn-default:hover, .btn-xs:hover {
  background-color: #d26a01;
  color: #fff;
}
.navbar-default {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-default {
  background-color: #825ec5;
  border-color: #825ec5;
}
.navbar-default .navbar-nav>li>a {
  /*color: #435d04;*/
  color: #FFF;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 20px 14px;
  line-height: .8;
  transition: all .2s linear;

}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>li>a:focus{
  color: #faba06;
}
.navbar-center{
  margin:  0 auto;
  float: none;
  text-align: center;
}
h1 {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold!important;

}
/* h1{
  text-decoration: underline;
}
*/h1, h2, h3, h4, h5, h6 {
  color: #292c27;
  margin: 0 0 18px 0;
  font-weight: 300;
}
section{
  /*padding-top: 10px;*/
  margin: 50px 0;
}
.form-control {
  border: 1px solid #dbded3;
  height: 46px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.hero-content ul {
  margin-top: 30px;
}
.hero-section{
  padding: 60px 0;
}
.height-fixed{
  min-height: 300px;
}
/*ul.check-circle {
  margin-bottom: 30px;
}
.table-align{
  display: table;
}*/
.table-align ul{
  display: table-cell;
  vertical-align: middle;
}
.listnone {
  padding-top: 13px;
  position: relative;
  list-style: none;
  padding-left: 0;
  display: inline-block;
}
.form-box{
  margin-top: 10px;
}
.check-circle li:before {
  font-size: 16px;
  margin-right: 10px;
  font-family: FontAwesome;
  top: 0;
  left: -5px;
  color: #0abf45;
  content: "\f058";
  position: absolute;
}
.check-circle li{
  margin-bottom: 15px;
  padding-left: 15px;
  position: relative;
}
#home{
  padding-top: 100px;
}

#benefits ul li{
  font-size: 20px;
}
.circle-border img{
  width: auto;
}
.work-info{
  margin-top: 20px;
  text-align: center;
}
.carousel-indicators li{
  background-color: #FFF;
  border-color: #825ec5;
}
.carousel-indicators li.active{
  background-color: #825ec5;
}
.carousel-inner img{
  height: 300px;
  padding: 0;
  margin: 0;
}
.carousel-indicators{
  bottom: 0!important;
}
.callto-action {
  background-color: #825ec5;
  text-align: center;
  /*padding-bottom: 75px;*/
}
.callto-action h1, .callto-action p, .callto-action li {
  color: #fff;
}
.callto-action .btn-default {
  padding: 15px 55px;
  font-size: 24px;
  width: 100%;
  max-width: 300px;
  font-size: 1.2em;
}
/*#shipment span {*/
    /*color: #FF0000;*/
/*}*/
.footer {
  background-color: #272826;
  padding: 20px 0;
  color: #FFF;
}
.footer a, .footer a:hover, .footer a:focus, .footer a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}
.footer a:hover {
    color: #825ec5 !important;
}
.footer span:last-of-type {
    position: relative;
}
/*.footer span:last-of-type:after{*/
    /*content: 'Все права защищены';*/
    /*width: 150px;*/
    /*height: 20px;*/
    /*position: absolute;*/
    /*top: 20px;*/
    /*font-size: 12px;*/
    /*left: 60px;*/
/*}*/
.testimonial-desc {
  font-size: 21px;
  line-height: 1.6;
  margin-bottom: 60px;
}
.testimonial-name {
  color: #337ab7;
  /*margin-top: 80px;*/
  font-size: 24px;
}
.testimonial-name small {
  font-size: 12px;
  color: #989499;
  padding-left: 10px;
}
.testimonial-pic {
  max-width: 20%;
  float: left;
  padding-right: 30px;
}
.brand-logo{
  font-size: 1.2em;
  color: #000;
  font-weight: bold;
}
.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
/*.hero-slide {
    background-image: url('../img/__1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right 100px;
    -webkit-background-size: cover -moz-background-size: cover;
    -o-background-size: cover;
}*/
.hero-slide {
    background-image: url('../img/222.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right bottom;
    -webkit-background-size: cover ;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 28%;
}
#how-works{
    background-image: url('../img/3.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right center;
    -webkit-background-size: contain ;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.container-fluid:nth-child(odd):not(.own-color){
  /*background-color: #f3f2f3;*/
  background-color: #ccc9cc;
}
textarea {
  resize: none;
}
@media (max-width: 1024px){
  .steps li{
    font-size: 1em;
  }
  .brand-btn{
    width: 100%;
  }
  .brand-btn button{
    max-width: 300px;
  }
  #home{
    padding-top: 160px;
  }
  #clockdiv > div{
    margin: 1px!important;
  }
  .collapse {
     display: none !important;
  }
}

@media only screen and (max-device-width: 800px){

    .steps li{
      font-size: 1.2em;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
  #home{
    padding-top: 100px;
  }
  .xs-col-center{
    margin: 0 auto;
    display: block;
    float: none;
  }
  .xs-text-center{
    text-align: center;
  }
  .steps li{
    display: block;
  }
  .glyphicon-circle-arrow-right:before{
    content: "\e134"!important;
  }
  .carousel-inner img{
    height: auto;
  }
  .carousel-indicators{
    visibility: hidden;
  }
  .callto-action .btn-default{
    padding: 10px;
  }
  .navbar-default .navbar-nav>li>a{
    padding: 20px 5px;
  }
  .navbar-brand{
    font-size: 16px;
  }
  #clockdiv > div{
    margin: 1px!important;
  }

  #clockdiv > div{
    margin: 1px!important;
  }
  .testimonial-pic {
    max-width: 40%;
  }

  #how-works{
    background-image: none;
  }
}

@media screen and (max-width: 768px){
  .carousel-inner .item{
    height: 740px;
  }
  .hero-slide{
    background-image: none;
  }
}

@media (min-width: 998px){
    ul.check-circle{
        margin-top: 30px;
    }
/*    #how-works>.row>div:first-of-type {
        margin-top: 10%;
    }*/
}
#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  float: left;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  background: #825ec5;
  display: inline-block;
}

#clockdiv div > span{
  color: #333;
  padding: 15px;
  border-radius: 3px;
  background: #FFF;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}
.cont-color{
  padding: 20px 0;
}
.cont-color h3{
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 100% !important;
}

@media (max-width: 990px){
  #how-works {
    background-image: none !important;
  }
}
